@import url(../reset.css);

:root{
    --bg: #24263b;
    --bg-history: #1C1E33;
    --bg-nav: rgb(44,48,73);
    --bg-tag-red: #EE7C83;
    --bg-tag-green: #1DC9A0;
    --bg-grey: rgb(235,235,235);
    --text-dark: #5f5f5f;
    --text-white: #fff;
}

body{
    font-family: "Roboto", sans-serif;
    background: var(--bg);
    color: #eee;
    padding: calc(2vw + 10px);
    padding-bottom: 100px;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

    header .date{
        font-size: 0.8em;
        letter-spacing: 1px;
        background: var(--bg-nav);
        padding: 0.8rem 1rem;
        border-radius: 0.2rem;
    }

    header .date i{
        margin-left: 1rem;
    }

.content{
    display: grid;
    /* grid-template-columns: 1fr; */
    gap: 1rem;
}
    @media(min-width: 1024px){
        .content{
            display: grid;
            grid-template-columns: 66% 33%;
            gap: 1rem;
        }
    }

.list{
    min-height: 50vh;
    overflow-y: hidden;
    display: grid;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    margin: 2rem 0;
}

.list-item{
    display: grid;
    gap: 1rem;
    grid-template-columns: 40px 1fr auto;
    background: #fff;
    color: var(--text-dark);
    padding: 1rem;
    border-radius: 0.4rem;
    align-items: center;
    justify-content: space-between;
    width: 100%;    
}

.list-item .icon-wrapper{
    background: #ccc;
    border-radius: 0,2rem;
    padding: 0.4rem 0.6rem;
}

@media(min-width: 1200px){
    .list{
        display: grid;
        grid-auto-rows: auto;
        grid-template-columns: 1fr 1fr;
    }

    .list-item{
        grid-template-columns: auto 30ch auto;
    }
}

@media(min-width: 1024px){
    /* .list{
        grid-template-columns: 1fr 1fr 1fr;
    } */
}

.history h3{
    margin-bottom: 1rem;
    font-weight: normal;
}

.hist-item{
    display: grid;
    grid-template-columns: 15% 15% 1fr;
    position: relative;
    background: var(--bg-history);
    padding: 1rem;
    border-radius: 0.2rem;
    margin-bottom: 2rem;
    gap: 1.5rem;
    align-items: center;
}

.hist-item .date{
    font-size: 0.9em;
}

.hist-item .date.success{
    color: var(--bg-tag-green);
}

.hist-item .date.missing{
    color: var(--bg-tag-red);
}

.tag{
    position: absolute;
    right: 1.5rem;
    top: -1rem;
    padding: 0.3rem 0.5rem;
    background: var(--bg-tag-red);
    border-radius: 0.3rem;
    color: #fff;
    font-size: 0.7em;
    box-shadow: 0px 0px 1px #fff;
}

.tag.success{
    background: var(--bg-tag-green);
}

.main-nav{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background: var(--bg-nav);
    display: flex;
    align-items: center;
    justify-content: center;    
    z-index: 99;
    
}

.main-nav ul{
    width: 100%;
    display: flex;
    justify-content: space-around;
    font-size: 2rem;
    align-items: center;
}

.modal{
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    background: rgba(0,0,0,0.5); 
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    display: none;
}

.modal-content{
    width: 80%;
    min-height: 60vh;
    background: var(--bg-history);
    padding: 2rem;
    position: relative;
    border-radius: 0.2rem;
    position: relative;
}

.modal-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.modal-header .close{
    display: inline-block;
    font-size: 1.5rem;
    background: var(--bg-tag-red);
    height: 30px;
    width: 30px;
    text-align: center;
    line-height: 1.8rem;
    cursor: pointer;
    /* border-radius: 5rem; */
}

.form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.form label{
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.form input, .form textarea, .form select{
    padding: 0.5rem;
    color: var(--text-dark);
    background: var(--bg-grey);
}

.form textarea{
    min-height: 15vh;
}

.form .submit{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 1rem;
    margin-bottom: 0.1rem;
    background: var(--bg-grey);
    color: var(--bg-history);
    font-size: 2rem;
}

.modal.show{
    display: flex;
}

.list-item span.text, 
    .list-item span.date,
    .hist-item .date,
    .hist-item .done{
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}